.trailSection {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .trailSectionLeft{
        flex: 1;
        background-image: url(../../Images/bg2.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1{
            color: white;
            // font-weight: 900;
            font-size: 5em;
            margin: 0px 0;
            padding: 0 50px;
        }
        h3{
            color: white;
            font-size: 1.5em;
            font-weight: normal;
            margin: 0;
            padding: 0 50px;
            margin-bottom: 20%;

        }
    }
    .trailSectionRight{
        flex: 1;
    }
}